@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap');
$primary-font-color: #22181C;
$secondary-bg-color: #F6EEDF;//#C8963E;
$player-log-font-color: #A63D40;
$dialogue-font: Verdana, sans-serif;
$handwriting-font: Georgia, serif;
$serif-font: 'Alegreya', Georgia, serif;
$dialogue-font-color: #2B193D;
$dialogue-bg-color: #C297B8;
$color1: #f4f4f4;
$color2: #3197EE;
$player-options-container-border-color: #6A66A3;
