@import '_variables';
@import 'playeroptions';
@import 'dialogue';
@import 'd20';

/* Sticky footer styles
-------------------------------------------------- */

.option-label:hover {
  cursor: pointer;
}

html {
  position: relative;
  min-height: 100%;
}

html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  color: $primary-font-color;
  margin-bottom: 60px; /* Margin bottom by footer height */
  
  text-rendering: optimizeLegibility;
}

p {
  font-family: $dialogue-font;
  font-size: 1rem;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  //line-height: 0px; /* Vertically center the text there */
  background-color: #f5f5f5;
  padding: 1em;
}

.block {
  border: 1px solid black;
  padding: .66em;
}

.menulink {
  text-decoration: underline;
  color:$color2;
}

.menulink:hover {
  cursor: pointer;
}

.player-option-history {
  font-weight: bold;
  color: $player-log-font-color;
  background-color: #F3F5F6; 
  padding: 1em 1em;
  
  //box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  //box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.block-image {
  margin: 2em auto;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}

.phb-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: relative;
  top: -7em;
  margin-bottom: -5em;
  border-radius: 1em;
  font-family: $dialogue-font;
  
  border-style: inset;
  border-width: 1px;
  
  padding: 1em;
  
  background-color: $secondary-bg-color;
  line-height: 1.5em;
    
}

.navbar-brand {
  font-size: .9em;
  letter-spacing: 0px;
}

.navbar-toggler {
  margin-right: .3em;
}

.handwriting,.handwriting > p {
  font-family: $handwriting-font;
  font-size: 1.0em;
  text-align: left;
}

.handwriting {
  //border: 1px solid darken($secondary-bg-color,50%);
  background-color: $secondary-bg-color;
  padding: 2em;
  margin-top: 3em;
  margin-bottom: 5em;
  clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%); 
  //box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.navbar-brand {
  font-family: $handwriting-font;
  font-weight: bold;
  padding-left: 1em;
  .author {
    font-size: 80%;
    font-weight: normal;
    //font-family: sans-serif;
    color: lighten($primary-font-color,50%)
  }
}

.heading-text {
  margin: 3em auto 0 0;
  font-size: 2em;
  font-weight: bold;
  font-family: $handwriting-font;
  
  align-items: center;
  justify-content: center
}

.moon {
  font-size: 3em;
  align-items: center;
  justify-content: center
}



/*.container {
  width: auto;
  max-width: 680px;
  padding: 2em 15px;
}*/

#container {
  min-height: 2000px;
  overflow-y:hidden;
}

/* 
Adding animations for list items
*/
.list-enter-active {
  animation: fade-in .4s ease-in-out;
}

.list-leave-active {
  animation: fade-out .4s ease-in-out;
}

.list-highlight-active {
  animation: highlight 1s ease-in-out;
}



@keyframes highlight {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    
    //transform: translateY(-2em);
  }
  100% {
    
    opacity: 1;
    
    //transform: translateY(0px);
  }
}

@keyframes fade-out {
  0% {
    
    opacity: 1;
    //transform: translateY(0px);
    
    
  }
  100% {
    visibility: hidden;
    opacity: 0;
    //transform: translateY(-2em);
    
  }
}

/*
  Scrolling up reveals the fixed top nav 
*/
nav {
  transition: background 0.4s ease-in-out;
  background: #010101;
}
.is-hidden {
  opacity: 0;
  transition: transform 0.4s, opacity 0.2s;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-hide {
  pointer-events: none;
  opacity: 0;
}

.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}


.fullwidth-image {
  width: 100%;
  //margin: 2em -1em 2em -1em;
}

.footer-text {
  font-size:66%;
  text-align: center;
}

